@model MvcOnlineTicariOtomasyon.Models.Siniflar.Fatura
@{
    ViewBag.Title = "FaturaEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Fatura Ekleme İşlemi</li>
</ol>
<form class="form-group" method="post">
    @Html.LabelFor(x => x.FaturaSeriNo)
    @Html.TextBoxFor(x => x.FaturaSeriNo, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.FaturaSiraNo)
    @Html.TextBoxFor(x => x.FaturaSiraNo, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Tarih)
    <input type="date" class="form-control" name="Tarih" />
    <br />
    @Html.LabelFor(x => x.Saat)
    @Html.TextBoxFor(x => x.Saat, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.VergiDairesi)
    @Html.TextBoxFor(x => x.VergiDairesi, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.TeslimEden)
    @Html.TextBoxFor(x => x.TeslimEden, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.TeslimAlan)
    @Html.TextBoxFor(x => x.TeslimAlan, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Oluştur</button>
</form>


